* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    list-style-type: none;
}

.center {
    text-align: center;
    margin: auto;
    display: block;

}

 

nav a {

    color: #F2DEBA;

}

nav a:hover {
    color: #FAECD6;
}


nav {
    background-color: #4E6C50;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1;
 
}

.nav_left li {
    float: left;
    padding: 14px 16px;

    overflow: hidden;
}



.nav_right li {
    float: right;
    padding: 14px 10px;


}

header {
    position: relative;
    overflow-y: hidden;
    object-fit: cover;
    max-height: 450px;
}

header a {
    position: absolute;
    top: 50%;
    color: #F2DEBA;
    background-color: #820000;
    border: 0;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;

}

.pre {
    left: 0%
}

.next_s {
    right: 0%;
}

.slider img {

    z-index: -1;
    height: inherit;
    width: 100%;
    min-height: 100px;
    transition: linear 1s;
}
.column {
    float: left;
    width: 35%;
    padding: 8px;
    margin: 10px;
    background-color: grey;
}
.test{
    display: block;
}

button {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #4E6C50;
    color: #F2DEBA;
    display: inline-block;
}

button:hover {
    background-color: #820000;
}

button#reset:hover {
    background-color: crimson;
    color: whitesmoke;

}

input {
    resize: none;
    height: 25px;
}

::placeholder {
    text-align: center;
}


form label {

    color: #820000;
    font-weight: bold;
    display: block;
    margin: 10px 0px;

}

textarea,form input {
    margin-bottom: 10px;
    margin-top: 5px;
    width: 85%;
    display: block;
    border: 2px solid;
    padding: 5px;
    border-radius: 5px;

}

.form_style {
       width: 400px;
    border-radius: 12px;
    background-color: #f2f2f2;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form_bg {

    height: 130vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("resource/img/bg_login.jfif");

}

.form_contact {

    height: 100vh;
    background-attachment: fixed;
    background-size: cover;

    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("resource/img/bg_contact\ us.jfif");

}



.product_gallery {
    margin: 1%;
    position: relative;
    border: 1px solid #ccc;
    float: left;
    width: 30%;
    height: 300px;
    overflow: hidden;

}

.product_gallery img {
    width: 100%;
    height: auto;
}

.product_gallery button {

    width: 100%;

}

.overlay {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 0;
    bottom: 0%;
    transition: .5s ease;
}

.product_gallery:hover .overlay {
    height: 12%;
}

table {
    border-collapse: collapse;
    width: 090%;
    margin: auto;
    /* position: absolute; */
}

thead {
    height: 150px;
    position: sticky;
    top: 0;
}

td,
th {
    /* border: 1px solid #1b1a1a; */
    text-align: center;
    padding: 8px;
}

th,
tr:nth-child(even) {
    background-color: #4E6C50;
    color: #F2DEBA;
}
/* ---------------------------------------------- */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #c4bfbf;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
/* ---------------------------------- */
.accordion {
    border-radius: 7px;
    cursor: pointer;
    padding: 18px;
    padding-left: 35px;
    width: 50%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 25px;
    color: beige;

    margin-bottom: 5px;
    margin-left: 50px;
}

.accordion:nth-child(2n+1) {

    background-color: #4E6C50;

}

div.accordion:nth-child(3n-2) {

    background-color: #820000;

}


.panel {

    padding: 0 18px;

    display: none;
    margin-bottom: 5px;

    overflow: hidden;


}