* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    list-style-type: none;
}



 h1 {
     display: block;
     text-align: center;
    
     color:#2E8B57;
     background-color: #FFD700;


 }

 button#clearCartButton {
     background-color: crimson;
     color: whitesmoke;
 }

a {

    color: white;

}

nav a:hover {
    color:#FF6347;
}


nav {
    background-color: #2E8B57;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1;

}

.nav_left li {
    float: left;
    padding: 14px 16px;

    overflow: hidden;
}



.nav_right li {
    float: right;
    padding: 14px 10px;


}

header {
    position: relative;
    overflow-y: hidden;
    object-fit: cover;
    max-height: 450px;
}

header a {
    position: absolute;
    top: 50%;
    color: #F2DEBA;
    background-color: #820000;
    border: 0;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;

}

.pre {
    left: 0%
}

.next_s {
    right: 0%;
}

.slider img {

    z-index: -1;
    height: inherit;
    width: 100%;
    min-height: 100px;
    transition: linear 1s;
}

.column {

    float: left;
    width: 35%;
    padding: 8px;
    margin: 10px;
    background-color: grey;
}

.noFloat {
    clear: both;
}

.test {
    display: block;
}

button {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #4E6C50;
    color: #F2DEBA;
    display: inline-block;
}

button:hover {
    background-color: #820000;
}

button#reset:hover {
    background-color: crimson;
    color: whitesmoke;

}

input {
    resize: none;
    height: 25px;
}

::placeholder {
    text-align: center;
}


form label {

    color: #820000;
    font-weight: bold;
    display: block;
    margin: 10px 0px;

}

textarea,
form input {
    margin-bottom: 10px;
    margin-top: 5px;
    width: 85%;
    display: block;
    border: 2px solid;
    padding: 5px;
    border-radius: 5px;

}

.form_style {
    margin-top: 20px;
    width: 400px;
    border-radius: 12px;
    background-color: #f2f2f2;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form_bg {

    height: 130vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("resource/img/bg_login.jfif");

}

.form_contact {

    height: 100vh;
    background-attachment: fixed;
    background-size: cover;

    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("resource/img/bg_contact\ us.jfif");

}



.product_gallery {
    margin: 1%;
    position: relative;
    border: 1px solid #ccc;
    float: left;
    width: 30%;
    height: 300px;
    overflow: hidden;

}

.product_gallery img {
    width: 100%;
    height: auto;
}

.product_gallery button {

    width: 100%;

}

.overlay {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 0;
    bottom: 0%;
    transition: .5s ease;
}

.product_gallery:hover .overlay {
    height: 12%;
}

table {
    border-collapse: collapse;
    width: 090%;
    margin: auto;
    /* position: absolute; */
}

td,
th {

    text-align: center;
    padding: 8px;
}

th {
    color: #FAECD6;
    background-color: #820000;

}

tr:nth-child(odd) {
    background-color: #4E6C50;
    color: #F2DEBA;
}

main table button {
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    background-color: crimson;
    color: #F2DEBA;
    display: inline-block;
}

/* ---------------------------------------------- */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: width 0.5s;
    padding-top: 60px;
}

#cart-items li {
    padding: 5px;
    margin-left: 15%;
    list-style-type: decimal-leading-zero;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/* ---------------------------------- */
.accordion {
    border-radius: 7px;
    cursor: pointer;
    padding: 18px;
    padding-left: 35px;
    width: 50%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 25px;
    color: beige;

    margin-bottom: 5px;
    margin-left: 50px;
}

.accordion:nth-child(2n+1) {

    background-color: #4E6C50;

}

div.accordion:nth-child(3n-2) {

    background-color: #820000;

}


.panel {

    padding: 0 18px;

    display: none;
    margin-bottom: 5px;

    overflow: hidden;


}

#output {

    display: block;
    width: 30%;
    padding: 15px;
    text-align: center;


    border-radius: 12px;
    background-color: #f2f2f2;
    margin: auto;
}

#adOption {

    color: #F2DEBA;
    font-weight: bold;
    display: block;
    width: 25%;
    background-color: #4E6C50;

    border-radius: 12px;
    padding: 20px;
    margin: auto;



}



#adOption input[type=checkbox] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
    width: 20px;
    margin-bottom: 2px;
}

#adOption input {
    border-radius: 5px;
    border: none;
}

#tipI,
#coupI,
#person {
    text-align: center;
    float: right;
    width: 30%;
    margin-bottom: 2px;
}

#cartEmpty {
    width: 50%;

    background-color: #F2DEBA;
    border-radius: 12px;
    text-align: center;
    margin: auto;
    margin-top: 2%;
}

.footer {
    display: block;
    background-color: #4E6C50;
    padding: 35px;
   
    background-size: contain;
    padding-bottom: 0%;
    /* text-align: center; */

}

.footertext {
    text-align: center;
    width: 100%;
    margin: auto;
}

footer img {
    display: inline;
    padding: 5px;


}

footer .hide {
    display: none;
}



footer button {
    position: relative;
    left: 70%;
    border-radius: 25px;
    bottom: 20px;
    height: 61px;
    background-color: #820000;
}

#icon {
    float: left;

    /* background-color: green; */
}

.tooltip {
    position: relative;
    display: inline;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;

    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 250%;

    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .fb {
    background-color: rgb(24, 119, 242);
    color: white;

}

.tooltip .insta {
    /* background-color: red; */
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    color: white;
}

.tooltip .whatsapp {
    background-color: lightgreen;
    color: white;
}

.tooltip .linkd {
    background-color: #007bb5;
    color: white;
}

.tooltip .youtube {
    background-color: red;
    color: white;
}

.tooltip .x {
    background-color: rgb(85, 172, 238);
    color: white;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

small {
    position: absolute;
    left: 50%;
    margin-top: 20px;
    transform: translate(-50%, -50%);
}